@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@*<CourseUserData/>*@
@*<CourseData/>*@

<div class="form-group">
    <label>管理者</label>
    <div >
        <input type="checkbox" class="form-control" style="text-align:left">
    </div>
    @*<input type="checkbox" style="text-align:left">*@
</div>

<div style="text-align:left">
    <input type='checkbox' id='checkbox1'><label for='checkbox1'>文本</label>
</div>
