@page "/"
@inject UserIdentity UserIdentity

<h1>你好</h1>

<div class="text-primary display-4">
這是一個使用 伺服器端的 Blazor Framework 所開發出來的教育訓練課程輔助應用程式，整個開發過程，僅使用 HTML / C# 來進行開發，開發過程中，完全沒有寫道任何一行 JavaScript 相關的程式碼。
</div>

<div class="">
透過這個應用程式的開發，希望能夠解除許多對 Blazor 這套開發工具的疑惑。
</div>

@*<CourseUserData/>*@
@*<CourseData/>*@

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        var userId = UserIdentity.GetNameIdentity(user);
        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"{user.Identity.Name} is authenticated.");
        }
        else
        {
            Console.WriteLine("The user is NOT authenticated.");
        }
    }
}
