@page "/"
@inject UserIdentity UserIdentity

<h1>Hello, world!</h1>

Welcome to your new app.

@*<CourseUserData/>*@
@*<CourseData/>*@

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        var userId = UserIdentity.GetNameIdentity(user);
        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"{user.Identity.Name} is authenticated.");
        }
        else
        {
            Console.WriteLine("The user is NOT authenticated.");
        }
    }
}
